body {
  background-color: rgb(162, 189, 190);
  font-family: "Courier New", Courier, monospace;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border: 5px solid rgb(59, 53, 36);
}

h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

h2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(65, 30, 1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

p {
  text-align: center;
}
